<% if @todo.errors.any? %>
  <h2>The following erros preventend todo from saving</h2>
  <ul>
    <% @todo.errors.full_messages.each do |msg|%>
    <li><%= msg %></li>
    <% end %>
    </ul>
   
<% end %>

<%= form_for @todo do |f| %>
  <p>
  <%= f.label :name %> <br>
  <%= f.text_field :name %>
  <p>
  <%= f.label :description %> <br>
  <%= f.text_area :description %>
  </p>
  <p>
  <%= f.submit %>
<% end %>

<%= link_to "Back to todos listing", todos_path %>